.job-card{

    background:white;

    padding:25px;

    border-radius:12px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    transition:.3s;
}

.job-card:hover{

    transform:translateY(-8px);
}

.job-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:15px;
}

.job-header h2{

    color:#2563eb;

    font-size:22px;
}

.job-header span{

    background:#dbeafe;

    color:#2563eb;

    padding:5px 10px;

    border-radius:20px;

    font-size:13px;
}

.job-card h3{

    margin-bottom:15px;

    color:#1e293b;
}

.job-card p{

    margin:8px 0;

    color:#64748b;
}

.job-buttons{

    display:flex;

    gap:15px;

    margin-top:20px;
}

.apply-btn{

    flex:1;

    background:#2563eb;

    color:white;

    border:none;

    padding:10px;

    border-radius:8px;

    cursor:pointer;
}

.save-btn{

    flex:1;

    background:white;

    color:#2563eb;

    border:2px solid #2563eb;

    padding:10px;

    border-radius:8px;

    cursor:pointer;
}

.save-btn:hover{

    background:#2563eb;

    color:white;
}