.features {
  padding: 80px 60px;
  background: #ffffff;
  text-align: center;
}

.features h2 {
  font-size: 40px;
  margin-bottom: 50px;
  color: #1e293b;
}

.feature-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card h1 {
  font-size: 50px;
}

.card h3 {
  margin: 20px 0;
  color: #2563eb;
}

.card p {
  color: #555;
  line-height: 25px;
}