.job-card{
    width:320px;
    background:white;
    border-radius:10px;
    padding:20px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.job-card h2{
    color:#2563eb;
    margin-bottom:10px;
}

.job-card p{
    margin:8px 0;
}

.job-card button{
    margin-top:15px;
    width:100%;
    padding:10px;
    border:none;
    background:#2563eb;
    color:white;
    cursor:pointer;
    border-radius:6px;
}